:root {
    --bg-primary: #151515;
    --bg-second: rgba(24, 24, 24,70);
    --primary: linear-gradient(#44D374, #32F484);
    --second: #fff;
    --terciary: #32F484;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    background-color: var(--bg-primary);
    color: var(--second);
}

header {
    width: 100vw;
    height: 100px;
    padding-top: 40px;
}

.container {
    max-width: 1600px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: var(--second);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.2s ease-in-out 0s;
}

.menu ul li a:hover {
    color: var(--terciary);
}

.menu-buttom {
    align-items: center;
    background: var(--primary);
    padding: 10px 30px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out 0s;
}

.menu ul li a.menu-buttom:hover {
    color: var(--bg-primary);
}


.menu i {
    font-size: 35px;
    transition: color 0.2s ease-in-out 0s;
}

.menu i:hover {
    font-size: 35px;
    color: var(--terciary);
}




